<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ethanco.customlockscreen">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".PreLockActivity"
            android:launchMode="singleInstance"
            android:theme="@style/TransTheme" />

        <service android:name=".LockScreenGuardService" />

        <receiver android:name=".LockSelfStartReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
