<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ethanco.customlockscreen">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".PreLockActivity"
            android:launchMode="singleInstance"
            android:theme="@style/TransTheme" />

        <service android:name=".LockScreenGuardService" />

        <receiver
            android:name=".LockSelfStartReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">

                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
